<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    <h1 style="background:lightblue;padding:10px">
            Plotly Chart Demo
    </h1>

    <p>Click to see charts on different pages</p>

    <h1><a href="contact">Fill form to get informations</a></h1>
    <h1><a href="familly">Graphics 1</a></h1>
    <h1><a href="income">Graphics 2</a></h1>
    <h1><a href="income_loan_ratio">Graphics 3</a></h1>
    <h1><a href="summary_data">Graphics 3</a></h1>
</body>



</html>
