<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    <h1 style="background:lightblue;padding:10px">
            Prêt à dépenser
    </h1>

    <h1><a href="contact">Fill form to get estimation</a></h1>
    <p>Click to see charts on different pages</p>
    <h1><a href="familly">Number of familly member</a></h1>
    <h1><a href="income">Income histogram</a></h1>
    <h1><a href="income_loan_ratio">Income/loan annuity scatter plot </a></h1>
    <h1><a href="summary_data">Summary data</a></h1>
</body>



</html>
