<!doctype html>
<html>
   <body>
      <h2 style = "text-align: center;">Applicant Form</h2>

      {% for message in form.Credit_ask.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.AMT_income.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.proportion_OVERDUE_closed.errors %}
         <div>{{ message }}</div>
      {% endfor %}



      <form action = "http://localhost:5000/contact" method = post>
        {{ form.csrf_token }}
         <fieldset>
            <legend>Candidat's informations</legend>
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>


               {{ form.Credit_ask.label }}<br>
               {{ form.Credit_ask }}
               <br>

               {{ form.AMT_income.label }}<br>
               {{ form.AMT_income }}
               <br>

               {{ form.Age.label }}<br>
               {{ form.Age }}
               <br>

               {{ form.CNT_FAM_MEMBERS.label }}<br>
               {{ form.CNT_FAM_MEMBERS }}
               <br>

               {{ form.Age_car.label }}<br>
               {{ form.Age_car }}
               <br>

               {{ form.CREDIT_active.label }}<br>
               {{ form.CREDIT_active }}
               <br>

               {{ form.CREDIT_MEAN_OVERDUE_active.label }}<br>
               {{ form.CREDIT_MEAN_OVERDUE_active }}
               <br>

               {{ form.CREDIT_MEAN_active.label }}<br>
               {{ form.CREDIT_MEAN_active }}
               <br>

               {{ form.CREDIT_MEAN_OVERDUE_closed.label }}<br>
               {{ form.CREDIT_MEAN_OVERDUE_closed }}
               <br>

               {{ form.CREDIT_MEAN_closed.label }}<br>
               {{ form.CREDIT_MEAN_closed }}
               <br>

               {{ form.proportion_OVERDUE_closed.label }}<br>
               {{ form.proportion_OVERDUE_closed }}
               <br>

               {{ form.Years_refund.label }}<br>
               {{ form.Years_refund }}
               <br>

               {{ form.YEARS_EMPLOYED.label }}<br>
               {{ form.YEARS_EMPLOYED }}
               <br>
               <legend>Education information</legend>

               <select name= "ed_id" method="GET" action="/">
                   {% for ed in educations %}
                   <option value= "{{ed}}" SELECTED>{{ed}}</option>"
                   {% endfor %}
               </select>

               <legend>Job information</legend>
               <select name= "job_id" method="GET" action="/">
                   {% for job in job_type %}
                   <option value= "{{job}}" SELECTED>{{job}}</option>"
                   {% endfor %}
               </select>
               <p></p>
               {{ form.submit }}
            </div>

         </fieldset>
      </form>
   </body>
</html>
