<!doctype html>
<html>
<body style="font-family:arial, sans-serif">
<div class="row">
    <h1>{{header}}</h1>
    <div id="chart1" class="chart"></div>
    <div>{{description[0]}}</div>
</div>
<div class="row">
    <div id="chart2" class="chart"></div>
    <div>{{description[1]}}</div>
</div>
<div class="row">
    <div id="chart3" class="chart"></div>
    <div>{{description[2]}}</div>
</div>
<div class="row">
  <h1>Features impact in credits status</h1>
  <img src="static/temp.jpg">
</div>
<div class="row">
  <h1>Contribution of candidat's features in decision</h1>
  <img src="static/temp2.jpg">
</div>
<h6><a href="/">Return to index page</a></h6>
</body>



<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graphs = {{graphJSON[0] | safe}};
    Plotly.plot('chart1',graphs,{});
</script>
<script type="text/javascript">
    var graphs = {{graphJSON[1] | safe}};
    Plotly.plot('chart2',graphs,{});
</script>
<script type="text/javascript">
    var graphs = {{graphJSON[2] | safe}};
    Plotly.plot('chart3',graphs,{});
</script>

</html>
